.dropDownDiv{
  position: fixed;
  top: 100px;
  left: 128px;
  height: 210px;
  width: 80%;
  background-color: #4FB9E2;
  margin: auto;
  border-radius: 0px 0px 12px 12px;
}
textarea{
  width: 90%;
  height: 70px;
  top: 30px;
  display: block;
  margin: auto;
  position: relative;
  font-size: 18px;
}
.btn{
  background-color: green;
  color: white;
  width: 100px;
  height: 30px;
  position: relative;
  float: left;
  left: 370px;
  top: 80px;
  margin-left: 30px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
